<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}{% endblock %}
        <meta name="description" content="This is the description">
        <link rel="shortcut icon" href="{{ url_for('static', filename='style.css') }}"/>
        <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="main-header">
            
            {% block titlePage %}{% endblock %}
        </header>
    {% block body %}{% endblock %}
   
</body>
</html>
