
body, html{il

    background-color: #f1f1f1;
    font-family: "Century Gothic",Verdana,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Titlename{
    margin: 0 10px;
    margin-top: 10px;
    font-size: 60px;
    font-weight: 700;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 800px;
    display: flex;
    z-index: 2;
}

.main-header{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
    height: 200px;
}


.form-input{
    background-image: url("/static/img/hatzalaForm.jpg");
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /*position: absolute;*/
    top: 450px;
    /*left: 40%;*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 650px;
    height: 950px;
}




.ticketNumber{ 
    position: absolute;
    top: 693px;
    left: 413px;
    background-color: rgba(51, 51, 51, 0.126);

    left: 610px;
   /* background-color: #333; */

    color: white;
    font-size: 24px;
    width: 90px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.date{
    position: absolute;
    top: 400px;
    left: 410px;
   /* background-color: #333; */
    color: white;
    width: 90px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.time{
    position: absolute;
    top: 400px;
    left: 200px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}


.firstName{
    position: absolute;
    top: 460px;
    left: 1020px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.lastName{
    position: absolute;
    top: 460px;
    left: 790px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.idNumber{
    position: absolute;
    top: 460px;
    left: 610px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.age{
    position: absolute;
    top: 440px;
    left: 215px;
   /* background-color: #333; */
    color: white;
    width: 40px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}


.sex{
    position: absolute;
    top: 500px;
    left: 1100px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.address{
    position: absolute;
    top: 500px;
    left: 720px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.telephone{
    position: absolute;
    top: 500px;
    left: 490px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.mainConcern{
    position: absolute;
    top: 480px;
    left: 560px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.scenarioDetailed{
    position: absolute;
    top: 480px;
    left: 610px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}

.levelOfConsciencenessTime1{
    position: absolute;
    top: 800px;
    left: 950px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.levelOfConsciencenessTime2{
    position: absolute;
    top: 800px;
    left: 830px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.breathingStatusTime1{
    position: absolute;
    top: 840px;
    left: 950px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.breathingStatusTime2{
    position: absolute;
    top: 840px;
    left: 940px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.breathsPerMinuteTime1{
    position: absolute;
    top: 880px;
    left: 940px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.breathsPerMinuteTime2{
    position: absolute;
    top: 880px;
    left: 830px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.saturationTime1{
    position: absolute;
    top: 920px;
    left: 940px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.saturationTime2{
    position: absolute;
    top: 920px;
    left: 830px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.pulsesPerMinuteTime1{
    position: absolute;
    top: 960px;
    left: 940px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.pulsesPerMinuteTime2{
    position: absolute;
    top: 960px;
    left: 830px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.strengthOfPulseTime1{
    position: absolute;
    top: 800px;
    left: 600px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.strengthOfPulseTime2{
    position: absolute;
    top: 800px;
    left: 490px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.pulseRegularityTime1{
    position: absolute;
    top: 840px;
    left: 600px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.pulseRegularityTime2{
    position: absolute;
    top: 840px;
    left: 490px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.systolicBloodPressureTime1{
    position: absolute;
    top: 880px;
    left: 600px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.systolicBloodPressureTime2{
    position: absolute;
    top: 880px;
    left: 480px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.diastolicBloodPressureTime1{
    position: absolute;
    top: 920px;
    left: 600px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.diastolicBloodPressureTime2{
    position: absolute;
    top: 920px;
    left: 480px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.glucoseTest1{
    position: absolute;
    top: 960px;
    left: 600px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.glucoseTest2{
    position: absolute;
    top: 960px;
    left: 480px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.allergies{
    position: absolute;
    top: 1010px;
    left: 830px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.temperaturePOPRtime1{
    position: absolute;
    top: 1010px;
    left: 600px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.temperaturePOPRtime2{
    position: absolute;
    top: 1010px;
    left: 480px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.treatmentsGiven{
    position: absolute;
    top: 1060px;
    left: 470px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.ALSlevelTreatments{
    position: absolute;
    top: 1170px;
    left: 450px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.ALSdrugTherapy{
    position: absolute;
    top: 1230px;
    left: 450px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.methodOfEvacuation{
    position: absolute;
    top: 1300px;
    left: 990px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.evacuationDestination{
    position: absolute;
    top: 1300px;
    left: 750px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.reasonForReferral{
    position: absolute;
    top: 1300px;
    left: 460px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.patientNameAndDriversNumber{
    position: absolute;
    top: 1340px;
    left: 960px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.attendingDoctorAndLiscenceNumber{
    position: absolute;
    top: 1340px;
    left: 720px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.signature{
    position: absolute;
    top: 1340px;
    left: 470px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.nameRefusalOfHospitalization{
    position: absolute;
    top: 1410px;
    left: 740px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.idRefusalOfHospitalization{
    position: absolute;
    top: 1410px;
    left: 610px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}
.signatureRefusalOfHospitalization{
    position: absolute;
    top: 1410px;
    left: 460px;
   /* background-color: #333; */
    color: white;
    width: 80px;
    height: 30px;
    /*put it in the front ebene*/
    z-index: 1;
}


table {
    display: flex;
    flex-direction: column;
    font-family: arial;
    border-collapse: collapse;
    width: 100%;
  }
th {
    border: 1px solid black;
    vertical-align: baseline;
    font-size: 18px;
    line-height: 75%;
    padding: 8px;
    text-align: center;
    background-color: #6aa84f;
  }
li {
    border: 1px solid black;
    vertical-align: text-top;
    line-height: 75%;
    padding: 8px;
    text-align: left;
    background-color: #fce8b2;
    margin: auto;
    white-space: pre-wrap;
    width: 300px;
  }
ul {
    border: 1px solid black;
    vertical-align: baseline;
    font-size: 18px;
    line-height: 75%;
    padding: 8px;
    text-align: center;
    background-color: #6aa84f;
  }