
body, html{

    background-color: #f1f1f1;
    font-family: "Century Gothic",Verdana,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Titlename{
    margin: 0 10px;
    margin-top: 10px;
    font-size: 60px;
    font-weight: 700;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 800px;
    display: flex;
    z-index: 2;
}

.main-header{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
    height: 200px;
}


.form-input{
    background-image: url("/static/img/hatzalaForm.jpg");
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /*position: absolute;*/
    top: 450px;
    /*left: 40%;*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 650px;
    height: 950px;
}


.location{
    position: absolute;
    top: 370px;
    left: 450px;
    background-color: rgba(51, 51, 51, 0.126);

    color: black;
    font-size: 12px;
    font-weight: 700;
    width: 130px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.medicName{
    position: absolute;
    top: 370px;
    left: 585px;
    background-color: rgba(51, 51, 51, 0.126);

    color: black;
    font-size: 12px;
    font-weight: 700;
    width: 130px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}

.ticketNumber{ 
    position: absolute;
    top: 410px;
    left: 890px;
    background-color: rgba(51, 51, 51, 0.126);

    color: black;
    font-size: 12px;
    font-weight: 700;
    width: 90px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.date{
    position: absolute;
    top: 410px;
    left: 690px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    font-size: 12px;
    font-weight: 700;
    width: 90px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.time{
    position: absolute;
    top: 410px;
    left: 485px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    font-size: 12px;
    font-weight: 700;
    width: 75px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}


.firstName{
    position: absolute;
    top: 450px;
    left: 920px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 75px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.lastName{
    position: absolute;
    top: 450px;
    left: 730px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.idNumber{
    position: absolute;
    top: 450px;
    left: 580px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 100px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.age{
    position: absolute;
    top: 450px;
    left: 495px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 40px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}


.sex{
    position: absolute;
    top: 475px;
    left: 980px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 40px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.address{
    position: absolute;
    top: 475px;
    left: 660px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 240px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.telephone{
    position: absolute;
    top: 475px;
    left: 475px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 90px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.mainConcern{
    position: absolute;
    top: 528px;
    left: 460px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 500px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.scenarioDetailed{
    position: absolute;
    top: 570px;
    left: 460px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 470px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}

.levelOfConsciencenessTime1{
    position: absolute;
    top: 725px;
    left: 850px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.levelOfConsciencenessTime2{
    position: absolute;
    top: 725px;
    left: 755px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.breathingStatusTime1{
    position: absolute;
    top: 755px;
    left: 850px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.breathingStatusTime2{
    position: absolute;
    top: 755px;
    left: 755px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.breathsPerMinuteTime1{
    position: absolute;
    top: 787px;
    left: 850px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.breathsPerMinuteTime2{
    position: absolute;
    top: 787px;
    left: 755px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.saturationTime1{
    position: absolute;
    top: 820px;
    left: 850px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.saturationTime2{
    position: absolute;
    top: 820px;
    left: 755px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.pulsesPerMinuteTime1{
    position: absolute;
    top: 850px;
    left: 850px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.pulsesPerMinuteTime2{
    position: absolute;
    top: 850px;
    left: 755px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.strengthOfPulseTime1{
    position: absolute;
    top: 725px;
    left: 565px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.strengthOfPulseTime2{
    position: absolute;
    top: 725px;
    left: 470px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.pulseRegularityTime1{
    position: absolute;
    top: 755px;
    left: 565px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.pulseRegularityTime2{
    position: absolute;
    top: 755px;
    left: 470px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.systolicBloodPressureTime1{
    position: absolute;
    top: 787px;
    left: 565px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.systolicBloodPressureTime2{
    position: absolute;
    top: 787px;
    left: 470px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.diastolicBloodPressureTime1{
    position: absolute;
    top: 820px;
    left: 565px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.diastolicBloodPressureTime2{
    position: absolute;
    top: 820px;
    left: 470px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.glucoseTest1{
    position: absolute;
    top: 850px;
    left: 565px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.glucoseTest2{
    position: absolute;
    top: 850px;
    left: 470px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}

.allergies{
    position: absolute;
    top: 890px;
    left: 755px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 200px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.temperaturePOPRtime1{
    position: absolute;
    top: 890px;
    left: 565px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.temperaturePOPRtime2{
    position: absolute;
    top: 890px;
    left: 470px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.treatmentsGiven{
    position: absolute;
    top: 930px;
    left: 460px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 480px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.ALSlevelTreatments{
    position: absolute;
    top: 1030px;
    left: 460px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 580px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.ALSdrugTherapy{
    position: absolute;
    top: 1080px;
    left: 460px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 580px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.methodOfEvacuation{
    position: absolute;
    top: 1125px;
    left: 890px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.evacuationDestination{
    position: absolute;
    top: 1125px;
    left: 690px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.reasonForReferral{
    position: absolute;
    top: 1125px;
    left: 450px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.patientNameAndDriversNumber{
    position: absolute;
    top: 1165px;
    left: 870px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 105px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.attendingDoctorAndLiscenceNumber{
    position: absolute;
    top: 1165px;
    left: 675px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 105px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.signature{
    position: absolute;
    top: 1165px;
    left: 470px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 105px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.nameRefusalOfHospitalization{
    position: absolute;
    top: 1215px;
    left: 690px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.idRefusalOfHospitalization{
    position: absolute;
    top: 1215px;
    left: 580px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}
.signatureRefusalOfHospitalization{
    position: absolute;
    top: 1215px;
    left: 450px;
    background-color: rgba(51, 51, 51, 0.126);
    color: black;
    width: 85px;
    height: 20px;
    /*put it in the front ebene*/
    z-index: 1;
}


table {
    display: flex;
    flex-direction: column;
    font-family: arial;
    border-collapse: collapse;
    width: 100%;
  }
th {
    border: 1px solid black;
    vertical-align: baseline;
    font-size: 18px;
    line-height: 75%;
    padding: 8px;
    text-align: center;
    background-color: #6aa84f;
  }
li {
    border: 1px solid black;
    vertical-align: text-top;
    line-height: 75%;
    padding: 8px;
    text-align: left;
    background-color: #fce8b2;
    margin: auto;
    black-space: pre-wrap;
    width: 300px;
  }
ul {
    border: 1px solid black;
    vertical-align: baseline;
    font-size: 18px;
    line-height: 75%;
    padding: 8px;
    text-align: center;
    background-color: #6aa84f;
  }
  /* button{
    background-color: #6aa84f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 50px;
  }
  button:active{
    background-color: #6aa84f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  button::after{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  } */

  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Roboto|Lato|Droid+Sans|Noto+Sans);

.button-div {
    margin-top: 20px;
    background-color: black;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 64px;
    border-radius: 50%;
}

.circle_border {
    width: 104px;
    height: 106px;
    border: 8px solid rgb(124, 123, 123);
    border-top: 8px solid rgb(133, 133, 133);
    border-radius: 50%;
    margin-top: 1px;
    z-index: 1;
}

.record-button {
    width: 100px;
    height: 100px;
    border: 0;
    background-color: crimson;
    z-index: 0;
    margin-top: 2px;
    border-radius: 50%;
}

/* .record-button:hover {
    background-color: #ff0000;
    cursor: pointer;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} */
#record-button.clicked{
    transform: translateY(10px);
    background-color: #ff0000;
    border-radius: 20px;
    width: 80px;
    height: 80px;
}
/*
.animate_record-button {
    animation: animate_record-button__animation 0.5s normal forwards;
}

.end_animate_record-button {
    animation: end_animate_record-button 0.5s normal forwards;
}
*/

@keyframes animate_record-button__animation {
    from {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    to {
        width: 60px;
        height: 60px;
        border-radius: 10%;
        margin-top: 20px;
    }
}

@keyframes end_animate_record-button {
    from {
        width: 60px;
        height: 60px;
        border-radius: 10%;
        margin-top: 20px;
    }
    to {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-top: 2px;
    }
}