
body, html{

    background-color: #f1f1f1;
    font-family: "Century Gothic",Verdana,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Titlename{
    margin: auto;
    margin-top: 10px;
    font-size: 60px;
    font-weight: 700;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.main-header{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 100px;
    width: 200px;
    height: 200px;
}


.form-input{
    background-image: url("/static/img/hatzalaForm.jpg");
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: absolute;
    top: 450flapx;
    left: 25%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 650px;
    height: 950px;
}
/* 
.fill-it{
    background-color: #333;
    color: white;
    width: 80px;
    height: 40px;
    put it in the front ebene
    z-index: 1;
} 
*/

.ticketNumber{ 
    top: 20%;
    left: 40%;
    background-color: #333;
    color: white;
    width: 80px;
    height: 40px;
    /*put it in the front ebene*/
    /*z-index: 1;*/
}
.date{
    top: 10%;
    left: 50%;
}
.time{
    top: 10%;
    left: 60%;
}
.firstName{
    top: 20%;
    left: 50%;

}
.lastName{
    top: 20%;
    left: 50%;
}
.idNumber{
    top: 20%;
    left: 50%;
}
.age{
    top: 20%;
    left: 50%;
}
.sex{
    top: 20%;
    left: 50%;
}
.address{
    top: 20%;
    left: 50%;
}
.telephone{
    top: 20%;
    left: 50%;
}
.mainConcern{
    top: 20%;
    left: 50%;
}
.scenarioDetailed{
    top: 20%;
    left: 50%;
}
.importantMetrics{
    top: 20%;
    left: 50%;
}
.levelOfConsciencenessTime1{
    top: 20%;
    left: 50%;
}
.levelOfConsciencenessTime2{
    top: 20%;
    left: 50%;
}
.breathingStatusTime1{
    top: 20%;
    left: 50%;
}
.breathingStatusTime2{
    top: 20%;
    left: 50%;
}
.breathsPerMinuteTime1{
    top: 20%;
    left: 50%;
}
.breathsPerMinuteTime2{
    top: 20%;
    left: 50%;
}
.saturationTime1{
    top: 20%;
    left: 50%;
}
.saturationTime2{
    top: 20%;
    left: 50%;
}
.pulsesPerMinuteTime1{
    top: 20%;
    left: 50%;
}
.pulsesPerMinuteTime2{
    top: 20%;
    left: 50%;
}
.strengthOfPulseTime1{
    top: 20%;
    left: 50%;
}
.strengthOfPulseTime2{
    top: 20%;
    left: 50%;
}
.pulseRegularityTime1{
    top: 20%;
    left: 50%;
}
.pulseRegularityTime2{
    top: 20%;
    left: 50%;
}
.systolicBloodPressureTime1{
    top: 20%;
    left: 50%;
}
.systolicBloodPressureTime2{
    top: 20%;
    left: 50%;
}
.diastolicBloodPressureTime1{
    top: 20%;
    left: 50%;
}
.diastolicBloodPressureTime2{
    top: 20%;
    left: 50%;
}
.glucoseTest1{
    top: 20%;
    left: 50%;
}
.glucoseTest2{
    top: 20%;
    left: 50%;
}
.allergies{
    top: 20%;
    left: 50%;
}
.temperaturePOPRtime1{
    top: 20%;
    left: 50%;
}
.temperaturePOPRtime2{
    top: 20%;
    left: 50%;
}
.treatmentsGiven{
    top: 20%;
    left: 50%;
}
.ALSlevelTreatments{
    top: 20%;
    left: 50%;
}
.ALSdrugTherapy{
    top: 20%;
    left: 50%;
}
.methodOfEvacuation{
    top: 20%;
    left: 50%;
}
.evacuationDestination{
    top: 20%;
    left: 50%;
}
.reasonForReferral{
    top: 20%;
    left: 50%;
}
.patientNameAndDriversNumber{
    top: 20%;
    left: 50%;
}
.attendingDoctorAndLiscenceNumber{
    top: 20%;
    left: 50%;
}
.signature{
    top: 20%;
    left: 50%;
}
.nameRefusalOfHospitalization{
    top: 20%;
    left: 50%;
}
.idRefusalOfHospitalization{
    top: 20%;
    left: 50%;
}
.signatureRefusalOfHospitalization{
    top: 20%;
    left: 50%;
}
.treatmentsGiven{
    top: 20%;
    left: 50%;
}
.treatmentsGiven{
    top: 20%;
    left: 50%;
}
.treatmentsGiven{
    top: 20%;
    left: 50%;
}
.treatmentsGiven{
    top: 20%;
    left: 50%;
}.treatmentsGiven{
    top: 20%;
    left: 50%;
}