{% extends "/base/base.html "%}
{% block head %}
<title>Medical Form Hackathon Project</title>
<link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">

{% endblock %}


{% block titlePage %}
<!-- <base target="_top">
    <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css"> -->
<h1 class="Titlename" >Medical Form<!--form of {{data.typeName}}--></h1>
<!-- <button type="submit" class="button"  onclick="runCode()"></button> -->
<div class="button-div">
      <div class="circle_border">
              <button class="record-button" onclick="startAnimation()" id="record-button"></div>
      </div>
</div>
{% endblock %}
{% block body %}
<script>    
  // fetch('/data')
      //   .then(response => response.json())
      //   .then(data => {
      //     // Update the page with the new data
      //   });
      const recordButton = document.getElementById('record-button');
  
      recordButton.addEventListener('click', function() {
      recordButton.classList.toggle('clicked');
      });
  
      // element = document.getElementById("record-button");
  
      // element.addEventListener("click", function startAnimation() {
      //     element.style = "width: 60px; height: 60px; border-radius: 10%; margin-top: 20px; transition: all 0.5s ease;";
      //     var wait;
      //     wait = element.addEventListener("click", function endAnimation() {
      //         element.style = "width: 100px; height: 100px; border-radius: 50%; margin-top: 2px; transition: all 0.5s ease;";
      //     }, false)
      // }, false)
    </script>   
<!--Hatzalah PDF Format-->


    <div class="form-input">
        
        <div class=" ticketNumber">{{ data["typeName"] }}</div>

        <div class="date">{{ data["date"]}}</div>
        <div class="time">{{ data["time"]}}</div>

        <div class="firstName">{{ data["firstName"]}}</div>
        <div class="lastName">{{ data["lastName"]}}</div>
        <div class="idNumber">{{ data["idNumber"]}}</div>
        <div class="age">{{ data["age"]}}</div>
        <div class="sex">{{ data["sex"]}}</div>
        <div class="address">{{ data["address"]}}</div>
        <div class="telephone">{{ data["telephone"]}}</div>
        
        <div class="mainConcern">{{ data["mainConcern"]}}</div>
        
        <div class="scenarioDetailed">{{ data["scenarioDetailed"]}}</div>
        <div class="importantMetrics">{{ data["importantMetrics"]}}</div>

        <div class="levelOfConsciencenessTime1">{{ data["levelOfConsciencenessTime1"]}}</div>
        <div class="levelOfConsciencenessTime2">{{ data["levelOfConsciencenessTime2"]}}</div>

        <div class="breathsPerMinuteTime1">{{ data["breathsPerMinuteTime1"]}}</div>
        <div class="breathsPerMinuteTime2">{{ data["breathsPerMinuteTime2"]}}</div>

        <div class="breathingStatusTime1">{{ data["breathingStatusTime1"]}}</div>
        <div class="breathingStatusTime2">{{ data["breathingStatusTime2"]}}</div>

        <div class="saturationTime1">{{ data["saturationTime1"]}}</div>
        <div class="saturationTime2">{{ data["saturationTime2"]}}</div>

        <div class="pulsesPerMinuteTime1">{{ data["pulsesPerMinuteTime1"]}}</div>
        <div class="pulsesPerMinuteTime2">{{ data["pulsesPerMinuteTime2"]}}</div>

        <div class="strengthOfPulseTime1">{{ data["strengthOfPulseTime1"]}}</div>
        <div class="strengthOfPulseTime2">{{ data["strengthOfPulseTime2"]}}</div>

        <div class="pulseRegularityTime1">{{ data["pulseRegularityTime1"]}}</div>
        <div class="pulseRegularityTime2">{{ data["pulseRegularityTime2"]}}</div>

        <div class="systolicBloodPressureTime1">{{ data["systolicBloodPressureTime1"]}}</div>
        <div class="systolicBloodPressureTime2">{{ data["systolicBloodPressureTime2"]}}</div>

        <div class="diastolicBloodPressureTime1">{{ data["diastolicBloodPressureTime1"]}}</div>
        <div class="diastolicBloodPressureTime2">{{ data["diastolicBloodPressureTime2"]}}</div>

        <div class="glucoseTest1">{{ data["glucoseTest1"]}}</div>
        <div class="glucoseTest2">{{ data["glucoseTest2"]}}</div>

        <div class="allergies">{{ data["allergies"]}}</div>

        <div class="temperaturePOPRtime1">{{ data["temperaturePOPRtime1"]}}</div>
        <div class="temperaturePOPRtime2">{{ data["temperaturePOPRtime2"]}}</div>


        <div class="treatmentsGiven">{{ data["treatmentsGiven"]}}</div>


        <div class="ALSlevelTreatments">{{ data["ALSlevelTreatments"]}}</div>

        <div class="ALSdrugTherapy">{{ data["ALSdrugTherapy"]}}</div>


        <div class="methodOfEvacuation">{{ data["methodOfEvacuation"]}}</div>
        <div class="evacuationDestination">{{ data["evacuationDestination"]}}</div>
        <div class="reasonForReferral">{{ data["reasonForReferral"]}}</div>

        
        <div class="patientNameAndDriversNumber">{{ data["patientNameAndDriversNumber"]}}</div>
        <div class="attendingDoctorAndLiscenceNumber">{{ data["attendingDoctorAndLiscenceNumber"]}}</div>
        <div class="signature">{{ data["signature"]}}</div>

        <div class="nameRefusalOfHospitalization">{{ data["nameRefusalOfHospitalization"]}}</div>
        <div class="idRefusalOfHospitalization">{{ data["idRefusalOfHospitalization"]}}</div>
        <div class="signatureRefusalOfHospitalization">{{ data["signatureRefusalOfHospitalization"]}}</div>
        <div class="location">{{data["currentlocation"]}}</div>
    </div>

    
    

{% endblock %}