{% extends "/base/base.html "%}
{% block head %}
<title>Medical Form Hackathon Project</title>
<link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
{% endblock %}


{% block titlePage %}

<h1 class="Titlename" >Medical Report</h1>


{% endblock %}
{% block body %}
<!--Hatzalah PDF Format-->


    <div class="form-input">
        <div class="ticketNumber"></div>
        <div class="date"></div>
        <div class="time"></div>

        <div class="firstName"></div>
        <div class="lastName"></div>
        <div class="idNumber"></div>
        <div class="age"></div>
        <div class="sex"></div>
        <div class="address"></div>
        <div class="telephone"></div>
        
        <div class="mainConcern"></div>
        
        <div class="scenarioDetailed"></div>





        <div class="importantMetrics"></div>

        <div class="levelOfConsciencenessTime1"></div>
        <div class="levelOfConsciencenessTime2"></div>

        <div class="breathsPerMinuteTime1"></div>
        <div class="breathsPerMinuteTime2"></div>

        <div class="breathingStatusTime1"></div>
        <div class="breathingStatusTime2"></div>

        <div class="saturationTime1"></div>
        <div class="saturationTime2"></div>

        <div class="pulsesPerMinuteTime1"></div>
        <div class="pulsesPerMinuteTime2"></div>

        <div class="strengthOfPulseTime1"></div>
        <div class="strengthOfPulseTime2"></div>

        <div class="pulseRegularityTime1"></div>
        <div class="pulseRegularityTime2"></div>

        <div class="systolicBloodPressureTime1"></div>
        <div class="systolicBloodPressureTime2"></div>

        <div class="diastolicBloodPressureTime1"></div>
        <div class="diastolicBloodPressureTime2"></div>

        <div class="glucoseTest1"></div>
        <div class="glucoseTest2"></div>



        <div class="allergies"></div>

        <div class="temperaturePOPRtime1"></div>
        <div class="temperaturePOPRtime2"></div>


        <div class="treatmentsGiven"></div>


        <div class="ALSlevelTreatments"></div>

        <div class="ALSdrugTherapy"></div>


        <div class="methodOfEvacuation"></div>
        <div class="evacuationDestination"></div>
        <div class="reasonForReferral"></div>

        
        <div class="patientNameAndDriversNumber"></div>
        <div class="attendingDoctorAndLiscenceNumber"></div>
        <div class="signature"></div>

        <div class="nameRefusalOfHospitalization"></div>
        <div class="idRefusalOfHospitalization"></div>
        <div class="signatureRefusalOfHospitalization"></div>
    </div>

    

{% endblock %}